##Variables base de datos
DB_PASSWORD=123
DB_NAME=drogueria_db
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

#URL básica
BASE_URL='http://localhost:5173'

#ResetPassword
SERVICE_MAIL="gmail"
MAIL_USER="gmail@gmail.com"
MAIL_PASSWORD=""

# JWT
SECRET = 'Secret'